{
  "extends": "stylelint-config-standard",
  "rules": {
    "custom-property-empty-line-before": null,
    "selector-class-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "color-function-notation": ["modern", { "ignore": ["with-var-inside"] }],
    "alpha-value-notation": [
      "number",
      {
        "disableFix": false
      }
    ],
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ],
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "at-rule-no-vendor-prefix": true,
    "declaration-empty-line-before": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
